html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

@font-face 
{
    font-family: 'FFont';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

body 
{
    margin:0;
    padding:0;
    font:11px "Verdana", "Helvetica Neue",Arial, Helvetica, sans-serif;
    color: #555;
    background:#f5f5f5 url(../images/simpletable/bg.jpg);
}

a {color:#666;}
        
#content 
{
    width:1316px;
}

table 
{
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:1316px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-spacing: 0px;
}

table tbody,
table thead { display: block; }

table tbody 
{
    height: 616px;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(../images/pattern-6j3d.png);
}

.basicth      { width: 658px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.advancedth   { width: 658px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }

.basictd      { width: 658px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; vertical-align:top; }
.advancedtd   { width: 658px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }

td 
{
    padding: 22px 12px 22px 12px; 
    text-align:left; 
    opacity: 30;
}

th 
{
    padding:25px 12px 25px 12px;
    text-shadow: 1px 1px 1px #fff; 
    background:#e8eaeb;
    font:10px "Verdana", "Helvetica Neue",Arial, Helvetica, sans-serif;
    text-align: center;
    border:0px solid #d3d3d3;
}

td 
{
    border-top:0px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
    border-bottom: 1px solid #F8F8F8;
    background: white;
}
        
#page-icons:hover path
{
    fill: #60A917;
}

#page-icons:hover rect
{
    fill: #60A917;
}

#page-icons:hover polygon
{
    fill: #60A917;
}
