html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body 
{
    margin:0;
    padding:0;
    font:11px "Verdana", "Helvetica Neue",Arial, Helvetica, sans-serif;
    color: #555;
    background:#f5f5f5 url(../images/simpletable/bg.jpg);
}

@font-face 
{
    font-family: 'FFont';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

html,body { height:100%; }

a {color:#666;}
	
content 
{
    width:1316px;
}
	
table 
{
    table-layout: fixed;
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:1316px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-spacing: 0px;
}

table tbody,
table thead { display: block; }

table tbody 
{
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(../images/pattern-6j3d.png);
}

th.header 
{ 
    background-image: url(../images/sortable/bg.gif); 
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 20px; 
}  

.osth      { overflow: hidden; display: inline-block; white-space: nowrap; width: 70px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.agentth   { overflow: hidden; display: inline-block; white-space: nowrap; width: 370px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.compth    { overflow: hidden; display: inline-block; white-space: nowrap; width: 100px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.verth     { overflow: hidden; display: inline-block; white-space: nowrap; width: 80px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.stateth   { overflow: hidden; display: inline-block; white-space: nowrap; width: 80px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.lastth    { width: 89px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.countpth  { overflow: hidden; display: inline-block; white-space: nowrap; width: 50px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.countoth  { overflow: hidden; display: inline-block; white-space: nowrap; width: 50px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.countrth  { overflow: hidden; display: inline-block; white-space: nowrap; width: 50px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.countcth  { overflow: hidden; display: inline-block; white-space: nowrap; width: 50px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.scoreth   { overflow: hidden; display: inline-block; white-space: nowrap; width: 100px; font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }
.specialth { overflow: hidden; display: inline-block; white-space: nowrap; width: 75px;  font-family: 'FFont', sans-serif; font-size:12px; color: #474747; }

.ostd    
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    width: 70px;  
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
}

.agenttd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    width: 370px;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

.comptd  
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    width: 100px;  
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
}

.vertd   
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    width: 80px;  
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
}

.statetd 
{ 
    display: table-cell; 
    white-space: nowrap; 
    width: 80px;  
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle; 
}

.lasttd  
{
    display: table-cell; 
    width: 89px; 
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
}

.countptd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    width: 50px;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
}

.countotd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    width: 50px;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
}

.countrtd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    width: 50px;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
}

.countctd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    width: 50px;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
}

.scoretd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    width: 100px;
    background:#f2f2f2;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
}

.specialtd 
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    width: 75px;  
    background:#f7f7f7;
    text-align: center;
    vertical-align: middle;
}

td 
{
    padding:15px 0px 15px 0px; 
    opacity: 30;
    height: 80px;
    vertical-align: middle;
}

th 
{
    padding:25px 12px 25px 12px;
    text-shadow: 1px 1px 1px #fff; 
    background:#e8eaeb;
    font:11px "Verdana", "Helvetica Neue",Arial, Helvetica, sans-serif;
    text-align: center;
    border:0px solid #d3d3d3;
}

td 
{
    border-top:0px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
    border-right:1px solid #F8F8F8;
    background: white;
}

