html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background: transparent;
}

@font-face 
{
    font-family: 'FFont';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

html,body 
{ 
    height: 100%; 
}

.content 
{
    width:99%;
}

.content-graph
{
    position: absolute; 
    bottom: 50px; 
    top: 53px; 
    left: 8px;
    right: 8px; 
    border:1px solid #d3d3d3;
    border-spacing: 0px;
    padding: 5px;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.graph-insights
{
    position: absolute;
    width: 150px;
    bottom: 56px;
    left: 30px;
    top: 40px;
    border: 0px solid #d3d3d3;
    border-spacing: 0px;
    padding: 0px;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.point-red, .point-blue, .point-yellow, .point-green
{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #d3d3d3;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-blue
{
    background: #0074D9;
}

.point-yellow
{
    background: #FFDC00;
}

.point-green
{
    background: #2ECC40;
}

.point-opportunity-0-10, .point-opportunity-11-30, .point-opportunity-31-60, .point-opportunity-61-100, .point-opportunity-101-500, .point-opportunity-501-1000 
{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d5d5d5;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-11-30
{
    width: 27px;
    height: 27px;
}

.point-opportunity-31-60
{
    width: 29px;
    height: 29px;
}

.point-opportunity-61-100
{
    width: 31px;
    height: 31px;
}

.point-opportunity-101-500
{
    width: 33px;
    height: 33px;
}

.point-opportunity-501-1000
{
    width: 35px;
    height: 35px;
}

.point-opportunity-0-10-red, .point-opportunity-0-10-green, .point-opportunity-0-10-blue, .point-opportunity-0-10-yellow 
{
    width: 25px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-11-30-red, .point-opportunity-11-30-green, .point-opportunity-11-30-blue, .point-opportunity-11-30-yellow
{
    width: 27px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-31-60-red, .point-opportunity-31-60-green, .point-opportunity-31-60-blue, .point-opportunity-31-60-yellow
{
    width: 29px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-61-100-red, .point-opportunity-61-100-green, .point-opportunity-61-100-blue, .point-opportunity-61-100-yellow
{
    width: 31px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-101-500-red, .point-opportunity-101-500-green, .point-opportunity-101-500-blue, .point-opportunity-101-500-yellow
{
    width: 33px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-501-1000-red, .point-opportunity-501-1000-green, .point-opportunity-501-1000-blue, .point-opportunity-501-1000-yellow
{
    width: 35px;
    border-radius: 50%;
    background: #FF4136;
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.point-opportunity-0-10-green, .point-opportunity-11-30-green, .point-opportunity-31-60-green, .point-opportunity-61-100-green, .point-opportunity-101-500-green, .point-opportunity-501-1000-green 
{
    background: #2ECC40;
}

.point-opportunity-0-10-blue, .point-opportunity-11-30-blue, .point-opportunity-31-60-blue, .point-opportunity-61-100-blue, .point-opportunity-101-500-blue, .point-opportunity-501-1000-blue
{
    background: #0074D9;
}

.point-opportunity-0-10-yellow, .point-opportunity-11-30-yellow, .point-opportunity-31-60-yellow, .point-opportunity-61-100-yellow, .point-opportunity-101-500-yellow, .point-opportunity-501-1000-yellow
{
    background: #FFDC00;
}

.point-opportunity-0-10-red:hover, .point-opportunity-11-30-red:hover, .point-opportunity-31-60-red:hover, .point-opportunity-61-100-red:hover, .point-opportunity-101-500-red:hover, .point-opportunity-501-1000-red:hover,
.point-opportunity-0-10-green:hover, .point-opportunity-11-30-green:hover, .point-opportunity-31-60-green:hover, .point-opportunity-61-100-green:hover, .point-opportunity-101-500-green:hover, .point-opportunity-501-1000-green:hover,
.point-opportunity-0-10-blue:hover, .point-opportunity-11-30-blue:hover, .point-opportunity-31-60-blue:hover, .point-opportunity-61-100-blue:hover, .point-opportunity-101-500-blue:hover, .point-opportunity-501-1000-blue:hover,
.point-opportunity-0-10-yellow:hover, .point-opportunity-11-30-yellow:hover, .point-opportunity-31-60-yellow:hover, .point-opportunity-61-100-yellow:hover, .point-opportunity-101-500-yellow:hover, .point-opportunity-501-1000-yellow:hover
{
    opacity: 0.9;
}

hr 
{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tooltip-inside
{
    padding: 5px 0px 5px 0px;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
}

.tooltip-table
{
     border: 0px solid #f5f5f5;    
     text-align: left;
     width: 100%;
     height: 100%;
}

td
{
     border: 1px solid #d3d3d3;
     padding: 1px 3px 1px 3px;
}

th
{
     text-align: center;
     border: 1px solid #d3d3d3;
     padding: 1px 3px 1px 3px;
}

table
{
     border-collapse: separate;
     border-spacing: 2px;    
     border: 0px solid #000000;
}

.table-leyend, .table-insights, .table-dictionary
{
    width: 100%;
}

.table-leyend-header, .table-insights-header, .table-dictionary-header
{
    border: 1px solid #d3d3d3;
}

.table-leyend-point, .table-insights-score, .table-dictionary-score
{
    text-align: center;
}

.table-insights-triangle, .table-dictionary-triangle
{
    text-align: left;
}

.y-axis-line
{
    border-right: 3px solid #d5d5d5; 
    margin-bottom: 1px; 
    position: absolute; 
    top: 39px; 
    bottom: 56px; 
    left: 235px; 
    z-index: 1; 
    width: 1px;
}

.y-axis-leyend
{
    transform: rotate(-90deg); 
    width: 250px; 
    bottom: 50%; 
    left: 90px; 
    position: absolute
}

.x-axis-line-leyend
{
    border-top: 3px solid #d5d5d5; 
    margin-bottom: 1px; 
    position: absolute; 
    bottom: 55px; 
    left: 235px; 
    right: 38px; 
    z-index: 1; 
    height: 1px; 
    text-align: center; 
    vertical-align: middle; 
    line-height: 15px;
}
