.main-text
{
    font-size:5px;
}

.logo-container
{
    float:left; 
    font-family: 'FFont', sans-serif; 
    font-size:12px; 
    color: white;
}

.logo
{
    vertical-align: middle;
}

.helpers-container
{
    float:right; 
    font-family: 'FFont', sans-serif; 
    font-size:12px; 
    color: white;
}

.svg-link
{
    vertical-align: middle;
}

a, a:hover
{
    color: white;
    text-decoration: none !important;
}

