html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

@font-face 
{
    font-family: 'FFont';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

html, body 
{
    height: 100%;
    margin:0;
    padding:0;
    color: #555;
    background:#f5f5f5 url(images/simpletable/bg.jpg);
}

html 
{
    display: table;
    margin: auto;
}

body 
{
    display: table-cell;
    vertical-align: middle;
}

a 
{
    color:#666;
}
        
#content 
{
    width:1236px;
}
        
table
{
    overflow:hidden;
    border:1px solid #13923D;
    background:#fefefe;
    width: 500px;
    height: 200px; 
    border-spacing: 0px;
}

tbody
{
    background-color: #eee;
}


td 
{
    padding:14px 12px 14px 12px; 
    text-align:left; 
    opacity: 30;
    border-top: 0px solid #e0e0e0; 
    border-right: 0px solid #e0e0e0;
    background: white;
}

th 
{
    padding:25px 12px 25px 12px;
    background: #13923D;
    font: 16px 'FFont', "Helvetica Neue",Arial, Helvetica, sans-serif;
    text-align: center;
    border:0px solid #d3d3d3;
    color: black;
}

.login-container
{
    float: left;
    font: 12px 'FFont', "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: black;
}

.sub-container
{
    border: 1px solid white; 
    background-color: #eee;
}

.input-login
{
    font-family: 'FFont', sans-serif; 
    font-size: 12px; 
    color: black; 
    width: 240px; 
    height: 20px; 
    padding: 5px; 
    border: solid 1px #c9c9c9;
    outline: none;
}

.sign-in-button
{
    border: none;
    background-color: #e7e7e7;
    color: black;
    border: 1px solid #d3d3d3;
    font-family: 'FFont', sans-serif; 
    font-size: 12px; 
    width: 100px; 
    height: 25px;
}
