html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body 
{
    margin:0;
    padding:0;
    font:11px "Verdana", "Helvetica Neue",Arial, Helvetica, sans-serif;
    color: #555;
    background:#f5f5f5 url(../images/simpletable/bg.jpg);
}

@font-face 
{
    font-family: 'FFont';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

html,body 
{ 
    height:100%; 
}

a 
{
    color: black;
}
	
.content 
{
    width:95%;
}

.table-holder
{
    position: absolute; 
    bottom: 190px; 
    top: 53px; 
    left: 8px;
    right: 8px; 
}

table 
{
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:100%;
    border-spacing: 0px;
    table-layout:fixed;
    height: 100%;
}

table thead
{
   height: 90px;
}

table tbody 
{
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(../images/pattern-6j3d.png);
    width: 100%;
    height: 100%;
}

thead, tbody
{
    display: block;
}

th.header 
{ 
    background-image: url(../images/sortable/bg.gif); 
    cursor: pointer; 
    background-repeat: no-repeat; 
    background-position: center right; 
    padding-left: 20px; 
}  

td
{
    padding:15px 0px 15px 0px;
    opacity: 30;
    height: 80px;
    vertical-align: middle;
    border-top:0px solid #e0e0e0;
    border-right:0px solid #F8F8F8;
    border-bottom:1px solid #F8F8F8;
    background: white;
    width: 100%;
}

th
{
    padding:25px 12px 25px 12px;
    text-shadow: 1px 1px 1px #fff;
    background:#e8eaeb;
    font:11px "Verdana", "Helvetica Neue",Arial, Helvetica, sans-serif;
    text-align: center;
    border:0px solid #d3d3d3;
    width: 100%;
}

.selectth
{
    overflow: hidden;
    font-family: 'FFont', sans-serif; font-size:12px;
    color: #474747;
    min-width: 50px;
    width: 50px;
    display: table-cell;
    white-space: nowrap;
}

.osth      
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    min-width: 70px;
    width: 70px; 
    display: table-cell;
    white-space: nowrap;
}

.agentth   
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    text-align: left;
    display: table-cell;
    white-space: nowrap;
}

.compth    
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    min-width: 150px;
    width: 150px;
    display: table-cell;
    white-space: nowrap;
}

.verth     
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    min-width: 100px;
    width: 100px;
    display: table-cell;
    white-space: nowrap;
}

.stateth   
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 100px;
    min-width: 100px;
    display: table-cell;
    white-space: nowrap; 
}

.lastth    
{ 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 90px;
    min-width: 90px;
    display: table-cell;
    white-space: nowrap; 
}

.countpth  
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 60px;
    min-width: 60px;
    display: table-cell;
    white-space: nowrap;
}

.countoth  
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 60px;
    min-width: 60px;
    display: table-cell;
    white-space: nowrap; 
}

.countrth  
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 60px;
    min-width: 60px;
    display: table-cell;
    white-space: nowrap;
}

.countcth  
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 70px;
    min-width: 70px;
    display: table-cell;
    white-space: nowrap; 
}

.scoreth   
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 100px;
    min-width: 100px;
    display: table-cell;
    white-space: nowrap;
}

.specialth 
{ 
    overflow: hidden; 
    font-family: 'FFont', sans-serif; font-size:12px; 
    color: #474747;
    width: 75px;
    min-width: 75px;
    display: table-cell;
    white-space: nowrap;
}

.selecttd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    min-width: 50px;
}

.ostd    
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
    width: 70px;
    min-width: 70px;
}

.agenttd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

.comptd  
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
    width: 150px;
    min-width: 150px;
    border-right:0px solid #F8F8F8;
    border-left:1px solid #F8F8F8;
}

.vertd   
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
    width: 100px;
    min-width: 100px;
}

.statetd 
{ 
    display: table-cell; 
    white-space: nowrap; 
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle; 
    width: 100px;
    min-width: 100px;
}

.lasttd  
{
    display: table-cell; 
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747; 
    text-align: center;
    vertical-align: middle;
    width: 90px;
    min-width: 90px;
}

.countptd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    min-width: 60px;
}

.countotd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    min-width: 60px;
}

.countrtd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    min-width: 60px;
}

.countctd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    background:#f7f7f7;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    min-width: 70px;
}

.scoretd
{
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    background:#f2f2f2;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    min-width: 100px;
}

.specialtd 
{ 
    overflow: hidden; 
    display: table-cell; 
    white-space: nowrap; 
    background:#f7f7f7;
    text-align: center;
    vertical-align: middle;
    width: 75px;
    min-width: 75px;
}

.ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8eaeb;
    border-bottom: 2px solid #d3d3d3;
}

.li 
{
    float: left;
    height: 35px;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'FFont', sans-serif; font-size:12px; color: black;
}

li a:hover
{
  color: green;
}

li a:hover:not(.active) 
{
    text-decoration: none;
}

.active 
{
    background-color: #13923D;
}

.active:hover
{
    text-decoration: none;
}

.search 
{
    width: 300px;
    margin: 4px;
}

.search_text
{
    width: 237px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: 'FFont', sans-serif; font-size:12px; color: grey;
    border: 0 none;
    height: 35px;
    margin-right: 0;
    color: grey;
    border: 1px solid #13923D;
    background: #FFFFFF;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

.search_text:focus 
{
    background: #FFFFFF;
    outline: none;
}

#search_button 
{
    border: 0 none;
    background: #13923D url(../images/search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#totals-menu
{
    border: 0 none;
    background: #13923D;
    width: 50px;
    float: left;
    padding: 0;
    text-align: center;
    height: 35px;
    cursor: pointer;
    margin: 4px;
    font-family: 'FFont', sans-serif; font-size:9px; color: white;
}

.command-console-container
{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 190px;
    margin-bottom: 0px;
    border-top: 15px double #ededed;
}

.command-console
{
    width:50%;
    height: 129px;
    overflow: hidden;
    float: left;
    border:1px solid #d3d3d3;
    background: #fefefe;
    border-spacing: 0px; text-align: left;
    padding: 10px 10px 10px 10px;
}

.command-cli
{
    font-family: Courier new; 
    font-size: 25px; 
    width: 100%; 
    padding: 5px; 
    border: solid 2px #c9c9c9; 
    transition: border 0.3s;
    outline: none;
}

#footer
{
    background-color: #13923D;
    border-top: 2px solid #d3d3d3; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    margin-bottom: 0px;
}

input[type=checkbox] 
{
    visibility: hidden;
}

.checkboxAgent
{
    width: 15px;
    height: 15px;
    background: #ddd;
    margin: 20px 20px;
    position: relative;
}

.checkboxAgent label 
{
    display: block;
    width: 11px;
    height: 11px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    background: #FFFFFF;
}

.checkboxAgent input[type=checkbox]:checked + label 
{
    background: #13923D;
}

.vertical-alignment-helper 
{
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.vertical-align-center 
{
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content 
{
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
}

.gender-image
{
    vertical-align:middle; 
    width: 40px; 
    height: 40px;
}

.footer-row-select
{
    width: 50px; 
    height: 90px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-os
{
    width: 70px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-people
{
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-group
{
    width: 150px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-ver
{
    width: 100px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-state
{
    width: 100px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-last
{
    width: 90px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-pressure
{
    width: 60px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-opportunity
{
    width: 60px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-rationalization
{
    width: 60px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-level
{
    width: 70px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-score
{
    width: 100px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.footer-row-commands
{
    width: 75px; 
    background-image: url(../images/pattern-6j3d.png); 
    border-bottom: none;
}

.window-title
{
    text-align: center; 
    font-family: Verdana; font-size: 24px;
}

.window-debug
{
    text-align:left; 
    font-family: Verdana; 
    font-size: 12px;
}

.console-title
{
    font-family: 'FFont', sans-serif; 
    font-size: 14px; 
    color: #474747;
}

.window-command-status
{
    font-family: Courier new; 
    font-size: 13px; 
    color: #474747;
}

.footer-container
{
    font-size:5px;
}

.footer-logo-container
{
    float:left; 
    font-family: 'FFont', sans-serif; 
    font-size:12px; 
    color: white;
}

.footer-logo
{
    vertical-align: middle;
}

.footer-helpers
{
    float:right; 
    font-family: 'FFont', sans-serif; 
    font-size:12px; 
    color: white;
}

.footer-link
{
    vertical-align: middle;
}

.footer-link-a
{
    color: white !important; 
    text-decoration: none !important;
}
