@font-face 
{
    font-family: 'FFont';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

html,body 
{ 
    height:100%; 
}

a 
{
    color: black;
}
	
.content 
{
    width:95%;
}

.ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8eaeb;
    border-bottom: 2px solid #d3d3d3;
}

.li 
{
    float: left;
    height: 35px;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'FFont', sans-serif; font-size:12px; color: black;
}

li a:hover
{
  color: green;
}

li a:hover:not(.active) 
{
    text-decoration: none;
}

.active 
{
    background-color: #13923D;
}

.active:hover
{
    text-decoration: none;
}

.search 
{
    width: 300px;
    margin: 4px;
}

.search_text
{
    width: 237px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: 'FFont', sans-serif; font-size:12px; color: grey;
    border: 0 none;
    height: 35px;
    margin-right: 0;
    color: grey;
    border: 1px solid #13923D;
    background: #FFFFFF;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

.search_text:focus 
{
    background: #FFFFFF;
    outline: none;
}

#search_button 
{
    border: 0 none;
    background: #13923D url(../images/search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 35px;
    cursor: pointer;
}

#totals-menu
{
    border: 0 none;
    background: #13923D;
    width: 50px;
    float: left;
    padding: 0;
    text-align: center;
    height: 35px;
    cursor: pointer;
    margin: 4px;
    font-family: 'FFont', sans-serif; font-size:9px; color: white;
}

#footer
{
    background-color: #13923D;
    border-top: 2px solid #d3d3d3; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    margin-bottom: 0px;
}

.vertical-alignment-helper
{
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.vertical-align-center
{
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content
{
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events:all;
}

