* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.table
{
    display: table;
    border-collapse: collapse;
    width: 49.9%;
    background:transparent;
    border-spacing: 0px;
    height: 130px;
    float: right;
}

.tablerow
{
    border:1px solid #d3d3d3;
    display: table-row;
    background:#fefefe;
}

.commandh
{
    font-size: 10px;
    background:#e8eaeb;
    height: 35px;
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.uniqueidh
{
    font-size: 10px;
    background:#e8eaeb;
    height: 35px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.agenth
{
    font-size: 10px;
    background:#e8eaeb;
    height: 35px;
    width: 230px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.eventh
{
    font-size: 10px;
    background:#e8eaeb;
    height: 35px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.paramh
{
    font-size: 10px;
    background:#e8eaeb;
    height: 35px;
    width: 456px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.commandd
{
    background: white;
    height: 50px; width: 150px; display: table-cell; vertical-align: middle;
    border-right:1px solid #F8F8F8;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.uniqueidd
{
    background: white;
    height: 50px; width: 100px; display: table-cell; vertical-align: middle;
    border-right:1px solid #F8F8F8;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.agentd
{
    background: white;
    height: 50px; width: 230px; display: table-cell; vertical-align: middle;
    border-right:1px solid #F8F8F8;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.eventd
{
    background: white;
    height: 50px; width: 100px; display: table-cell; vertical-align: middle;
    border-right:1px solid #F8F8F8;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}

.paramd
{
    background: white;
    height: 50px; width: 456px; display: table-cell; vertical-align: middle;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    font-family: 'FFont', sans-serif; font-size:12px; color: #474747;
}
